<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Community Fitness App Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/css.css">
    </head>
    <body>
        <div class="oneline">
            <h1 style="margin: 0px;">Account Information</h1>
            <div>
                <a href="/dashboard">Home</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="box">
            <p><form action="/update" method="POST"></p>
                <p><label for="first_name">First Name:</label></p>
                <p><input type="text" name="first_name" id="first_name" value={{user.first_name}}></p>
                <p><label for="last_name">Last Name:</label></p>
                <p><input type="text" name="last_name" id="last_name" value={{user.last_name}}></p>
                <p><label for="email">Email Address:</label></p>
                <p><input type="text" name="email" id="email" value={{user.email}}></p>
                <p><label for="dob">Date of Birth:</label></p>
                <p><input type="date" name="dob" id="dob"></p>
                <p>Address:</p>
                <p><label for="ustreet">Street:</label></p>
                <p><input type="text" name="ustreet" id="ustreet"></p>
                <p><label for="uapt"></label></p>
                <p><input type="text" name="uapt" id="uapt"></p>
                <p><label for="ucity">City:</label></p>
                <p><input type="text" name="ucity" id="ucity"></p>
                <p><label for="ustate">State:</label></p>
                <p><input type="text" name="ustate" id="ustate"></p>
                <p><label for="uzip">Zip Code:</label></p>
                <p><input type="text" name="uzip" id="uzip"></p>
                <input type="submit" value="Update">
                    {% with messages = get_flashed_messages(category_filter=['fullinfo']) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="validation">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            </form>
        </div>
    </body>
</html>