<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Community Fitness App Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style4.css') }}">
    </head>
    <body>
        <div id="navbar">
            <h1 style="margin: 0px;">Account Information</h1>
            <div class="nav2">
                <a href="/dashboard">Home</a> |
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="main">
            <form action="/update/{{ user.id }}" method="POST">
                <h2>User Information</h2>
                <div>
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" id="first_name" value="{{user.first_name}}">
                </div>
                <div>
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" id="last_name" value="{{user.last_name}}">
                </div>
                <div>
                    <label for="email">Email Address:</label>
                    <input type="text" name="email" id="email" value="{{user.email}}">
                </div>
                <div>
                    <label for="dob">Date of Birth:</label>
                    <input type="date" name="dob" id="dob" value = "{{user.dob}}">
                </div>
                <h2><ul>Address</ul></h2>
                <div>
                    <label for="ustreet">Street:</label>
                    <input type="text" name="ustreet" id="ustreet" value="{{user.ustreet}}">
                </div>
                <div>
                    <label for="uapt">Apt/Suite/Floor:</label>
                    <input type="text" name="uapt" id="uapt" value = "{{user.uapt}}">
                </div>
                <div>
                    <label for="ucity">City:</label>
                    <input type="text" name="ucity" id="ucity" value = "{{user.ucity}}">
                </div>
                <div>
                    <label for="ustate">State:</label>
                    <input type="text" name="ustate" id="ustate" value = "{{user.ustate}}">
                </div>
                <div>
                    <label for="uzip">Zip Code:</label>
                    <input type="text" name="uzip" id="uzip" value = "{{user.uzip}}">
                </div>
                <input id="linkbtn" type="submit" value="Update">
                    {% with messages = get_flashed_messages(category_filter=['fullinfo']) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="validation">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            </form>
        </div>
    </body>
</html>