<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 600px;
        }
        *{
            margin-left: 10px;
        }
        body{
            background-image: url("{{ url_for('static', filename='/img/fitness.png') }}")
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style2.css') }}">
    <img src="{{ url_for('static', filename='/img/fitness.png') }}">
    <title>Create New Event</title>
</head>
<body>
    <div id="nav">
        <h1>Create Event</h1>
        <a href="/dashboard" class="topLinks">Home</a>
        <a href="/success/" class="topLinks">Account</a>
        <a href="/logout" class="rightLink">Logout</a>
    </div>
    <div class="main">
        <div class="col-1">
            
            <!--{% with messages = get_flashed_messages(category_filter=['add_car'])%}
                    {% if messages %}
                    <div>
                        <strong>Error!</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %} -->
            <form action="/new" method="POST">
                <div class="inputBox">
                    <div class="input">
                        <label for="title">Event Title:</label>
                        <input type="text" name="title">
                    </div>
                    <div class="input">
                        <label for="event_date">Event Date:</label>
                        <input type="datet" name="event_date">
                    </div>
                    <div class="input">
                        <label for="duration">Event Start Time:</label>
                        <input type="time" name="start_time">
                        <label for="duration">Event End Time:</label>
                        <input type="time" name="end_time">
                    </div>
                    <div class="input">
                        <label for="number"># of people attending</label>
                        <select name="attendance" id="attendance">
                            <option value="num">1</option>
                            <option value="num">2</option>
                            <option value="num">3</option>
                            <option value="num">4</option>
                            <option value="num">5</option>
                            <option value="num">6</option>
                            <option value="num">7</option>
                            <option value="num">8</option>
                            <option value="num">9</option>
                            <option value="num">10</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="location">Event Location:</label>
                        <input type="text" name="street" id="street"><br>
                        <label for="apt">Address 2:</label>
                        <input type="text" name="apt" id="apt"><br>
                        <label for="city">City:</label>
                        <input type="text" name="city" id="city"><br>
                        <label for="state">State:</label>
                        <input type="text" name="state" id="state"><br>
                        <label for="zip">Zip code:</label>
                        <input type="text" name="zip" id="zip">
                    </div>
                    <input type="submit" value="Create" class="linkbtn">
                </div>
            </form>
        </div>
</body>
</html>