<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Community Fitness App Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="oneline"><h1 style="margin: 0px; margin-right: 100px;">Welcome to Car Dealz, {{session.first_name}}</h1><a href="/logout"><input class="submit" type="submit" value="Logout"></a>
        </div>
        <div class="box">
            <h1 style="text-align:left">Cars for Sale</h1>
            <table>
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Seller</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for one_car in all_cars %}
                        <tr>
                            <td>{{one_car.model}}</td>
                            <td>{{one_car.year}}</td>
                            <td>{{one_car.seller.first_name}} {{one_car.seller.last_name}}</td>
                            {% if one_car.user_id == session.id %}
                                <td><a href="/edit/car/{{one_car.id}}"><input class="submit_link" type="submit" value="Edit"></td>
                                <td><a href="/delete/car/{{one_car.id}}"><input class="submit_link" type="submit" value="Delete"></td>
                            {% else %}
                                <td><a href="/view/{{one_car.id}}"><input class="submit_link" type="submit" value="View"></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/add_car"><input class="submit" type="submit" value="Add Car"></a>
        </div>
    </body>
</html>