<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <div>
            <h1>Welcome {{user.first_name}}</h1>
            <a href="/success/{{ user.id }}">Account</a>|
            <a href="/logout">Logout</a>
        </div>
        <div class="left-col">
            <div>
                <h3>Events</h3>
                <table>
                    {% for event in events %}
                    <tr>
                        <a href="/view/event/{{ event.id }}">{event.title}</a>
                    </tr>
                    <tr>
                        <p># spots left</p>
                    </tr>
                    {% endfor %}
                </table>
                <button><a href="/add_event">Create Event</a></button>
            </div>
            <div>
                <h3>Messages</h3>
                <p>{{messages|length}} messages (unread)</p>
                <table>
                    {% for message in messages %}
                    <tr>{{ message.message }}</tr>
                    <tr>- <a href="/view/message/{{message.id}}">View</a></tr>
                    <tr>- <a href="/delete/message/{{message.id}}">Delete</a><img src="img/deleteicon.png" alt="trashbin"></tr>
                    {% endfor %}
                </table>
                <button><a href="/view/messages/{{session.id}}">View all Messages</a></button>
                <button><a href="/add_message">+ New Message</a></button>
            </div>
        </div>
        <div>
            <div>
                <h2>My Schedule</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.date }}</td>
                            <td>{{ event.street }} {{ event.city }}, {{ event.state }} {{ event.zip }}</td>
                            <td><a href="/view/{{ event.id }}">View |</a><a href="/update"></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>