<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Community Fitness App Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>
    <body>
        <div class="oneline"><h1 style="margin: 0px; margin-right: 300px;">Edit {{one_car.model}}</h1><a href="/success/"><input class="submit" type="submit" value="Dashboard"></a><a href="/logout"><input class="submit" type="submit" value="Logout"></a>
        </div>
        <h1>Edit Event</h1>
        <div class="col-1">
            {% with messages = get_flashed_messages(category_filter=['eventadd'])%}
                {% if messages %}
                <strong>Error!</strong>
                    {% for message in messages %}       
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
        {% endwith %}
        </div>
        <div id="wrapper">
            <form action="/event/update/{{event.id}}" method="POST">
                <label for="title">Event Title:</label>
                <input type="text" name="title" class="input_tag" value="{{event.title}}"><br>
                <div id="text_area">
                    <label for="description">Description:</label>
                    <textarea name="description" id="description" cols="30" rows="5">{{event.description}}</textarea><br>
                </div>
                <label for="date">Event Date:</label>
                <input type="date" name="date" id="date" value="{{event.date}}"><br>
                <label for="start_time">Event Start Time:</label>
                <input type="time" name="start_time" class="time" value="{{event.start_time}}"><br>
                <label for="end_time">Event End Time:</label>
                <input type="time" name="end_time" class="time" value="{{event.end_time}}"><br>
                <div id="select_tag">
                    <label for="num_of_pple">Num of people attending</label>
                    <select name="num_of_pple" id="attendance">
                        <option value="num_of_pple">{{event.num_of_pple}}</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div id="loc">
                    <label for="street">Event Location:</label>
                    <input type="text" name="street" class="input_tag" value="{{event.street}}"><br>
                    <label for="apt">apt/unit/suite:</label>
                    <input type="text" name="apt" class="input_tag3" value="{{event.apt}}"><br>
                    <label for="city">City:</label>
                    <input type="text" name="city" class="input_tag4" value="{{event.city}}"><br>
                    <label for="state">State:</label>
                    <input type="text" name="state" class="input_tag1" value="{{event.state}}"><br>
                    <label for="zip">Zip code:</label>
                    <input type="text" name="zip" class="input_tag2" value="{{event.zip}}">
                </div> 
                <div id="button">
                    <input type="submit" value="Submit" id="linkbtn">
                </div>
            </form>
        </div>
    </div>    
</body>
</html>