<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Messages</title>
</head>
<body>
    <div>
        <div>
            <h1>All Messages</h1>
            <a href="/dashboard">Home</a>
            <a href="/success/{{session['user_id']}}">Account</a>
            <a href="/logout">Logout</a>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>From</th>
                        <th>Message</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                        <tr>
                            <td>{{ message.from_name }}</td>
                            <td>{{ message.message }}</td>
                            <td><a href="/reply/message/{{ message.id }}">Reply</a> | <a href="/delete/message/{{ message.id }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/create_message">+ Create New Message</a>
    </div>
</body>
</html>