<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Messages</title>
</head>
<body>
    <div>
        <div>
            <h1>All Messages</h1>
            <a href="/dashboard">Home</a>
            <a href="/success">Account</a>
            <a href="/logout">Logout</a>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>From</th>
                        <th>Message</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ message.from_name }}</td>
                        <td>{{ message.message }}</td>
                        <td><a href="/view/message/{{ message.id }}">View</a> | <a href="/delete/message/{{ message.id }}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/add_message">+ Create New Message</a>
    </div>
</body>
</html>