
#nav{
    display: flex;
    align-items: center;
    margin-left: 400px;
    justify-content: flex-end;
    gap: 20px;
}

a{
    text-decoration: none;
}

#content {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#linkbtn{
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 200px;
}
img{
    width: 1000px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#account_body{
    background-color: #e1dee5;
    margin-left: 100px;
}
#nav2{
    display: flex;
    align-items: center;
    margin-left: 400px;
    justify-content: flex-end;
    gap: 20px;
    
}

.a_tag{
    text-decoration: none;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 80px;
}

.map {
    width: 40%;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-bottom: 100px;
    margin-top: 70px;
}
.map_canvas {
    position: static !important;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#content {
    border: 2px solid black;
    padding: 30px;
}