h1{
    background-color: white;
    padding: 2px;
    text-align: center;
    width: auto;
    margin: 2px 75px 2px 75px;
    border-radius: 2px;
}

h2{
    background-color: white;
    padding: 2px;
    text-align: left;
    align-self: baseline;
    width: auto;
    margin: 2px 75px 2px 75px;
    border-radius: 2px;
}

.oneline{
    height: 60px;
    padding: 5px;
    margin: 0px;
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-items: baseline;
}

.message{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: lightcoral;
    border-radius: 2px;
    padding: 5px;
    border-color: black;
    justify-self: center;
    width: auto;
    height: auto;
}

.justright{
    display: flex;
    justify-content: right;
    align-content: center;
}

.column{
    background-color: lightgreen;
    flex-direction: column;
}

.clear{
    background-color: white;
    border-radius: 2px;
    padding: 5px;
    border-color: black;
}

.massive{
    font-size: xx-large;
}

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 900px;
    margin: 2px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    background-color: white;
    width: max-content;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
}

.submit{
    background-color: lightcyan;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    height: 30px;
    width: 75;
}

.submit_link{
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration-line: underline;
}

.validation{
    color: black; 
}

.box{
    margin: auto;
    padding: 5px;
    justify-self: center;
    width: auto;
    height: auto;  
}

.bigbox{
    background-color: mediumslateblue;
    margin: auto;
    padding: 5px;
    justify-self: center;
    width: 500px;
    height: 500px;  
}

p {
    color: black;
    margin: 1px;
}

td, th {
    text-align: left;
    padding: 8px;
    margin-left: 5px;
}

.topLinks{
    color: aqua;
}