* {
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.foreground {
    background-color: cadetblue;
    width: 1000px;
    padding-bottom: 20px;
    border: 2px solid black;
}

.main {
    display: flex;
    margin: 5px;
    justify-content: space-evenly;
}

.col-1, .col-2 {
    background-color: cadetblue;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    border: 2px solid black;
}

h1, h3 {
    text-align: center;
    margin: 10px;
    padding-top: 20px;
}

.input {
    margin: 10px;
    color: white;
    font-size: larger;
}

#btn-1 {
    background-color: gold;
    font-size: medium;
    margin-top: 10px;
}

.topLinks {
    margin-left: 780px;
    margin-bottom: 10px;
}

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 900px;
    margin: 2px;
    
}

#wrapper2{
    background-image: url('/static/img/fitness3.png');
    background-size: 2000px 1000px;
    background-repeat: no-repeat; 
}

.showInfo {
    border: 2px solid black;
    width: 800px;
}

p {
    margin: 5px;
}

table {
    border-collapse: collapse;
}

table td, th {
    border: 2px solid black;
    text-align: center;
}

.table {
    padding-bottom: 20px;
}

.btn-2 {
    margin-left: 15px;
}

.btm-link {
    margin-top: 30px;
    padding-bottom: 30px;
}